/* footer css */
.footer {
  text-align: center;
  /* background-color: var(--aqua); */
  padding: 4rem 0;
}

.footer ul {
  list-style-type: none;
  margin: 2rem 0;
  padding: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  font-size: 3rem;
}

.footer [class*="fa-"] {
  color: var(--dkorange);
}

.footer [class*="fa-"]:hover {
  color: var(--ltblue);
}
