/* projects section */

.projects {
  padding: 4rem 1rem;
  max-width: 1200px;
  margin: auto;
}

.projects article {
  margin-left: auto;
  margin-right: auto;
}

.projects h2 {
  font-size: 2.5rem;
  margin-bottom: calc(2.5rem * 1.5);
  color: var(--white);
}

.projects h3 {
  color: var(--white);
}

.projects h4 {
  font-size: 1rem;
  font-family: var(--mono);
  margin: 0;
}

.blackbox {
  background-color: var(--ltblue);
  /* display: block; */
  padding: 1rem;
  border-radius: 10px;
  color: var(--white);
  font-size: 1rem;
  line-height: 1.5;
}

.projects ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  gap: 1rem;
  font-size: 1rem;
}

.projects img {
  margin: 1rem 0 4rem 0;
  border-left: 1px solid var(--skyblue);
  border-top: 1px solid var(--skyblue);
  border-radius: 25px;
  padding: 1rem;
}

@media (min-width: 550px) {
  .article {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 1rem;
    margin: 2rem;
  }

  .projects img {
    grid-column: 1/6;
    grid-row: 1/2;
  }

  .article .text {
    order: 2;
    text-align: right;
    grid-column: 5/11;
    grid-row: 1/2;
  }

  .projects ul {
    justify-content: flex-end;
  }

  .articleReverse {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 1rem;
    margin: 2rem;
  }

  .articleReverse .text {
    order: 2;
    text-align: right;
    grid-column: 5/11;
    grid-row: 1/2;
  }

  .projects .articleReverse .text {
    grid-column: 1/7;
    order: 2;
    text-align: left;
  }

  .projects .articleReverse img {
    grid-column: 6/11;
    grid-row: 1/2;
  }

  .projects .articleReverse ul {
    justify-content: flex-start;
  }
}
